*:not(.signin-button) {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0, 0.5) url("../img/BG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;

}

.navbar {
    display: flex;
    justify-content: left;

}

.Netflix-logo {
  width: 168px;
  margin-top: 23px;
  margin-left: 58px;
}

.main-page{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 450px;
    height: 400px;
    color: white;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.89);
    justify-content: center;
    align-content: center;
}

.signin-page:not(.signin-button){

    background-color: rgba(0, 0, 0, 0.89);
}

.signin-head{
    background-color: rgba(0, 0, 0, 0.89);
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    width: 290px;
}

.email,.password{
    background-color: rgba(0, 0, 0, 0.89);

}

.email-inp, .password-inp{
    height: 38px;
    border: none;
    font-size: 16px;
    color: white;
    width: 300px;
    padding: 8px;
    border-radius: 4px;
    background: #333;
    margin-top: 30px;
}

.signin-button{
    width: 310px;
    border: none;
    padding: 16px;
    margin-top: 30px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    background-color: #e50914 !important;
}