/* SIGNIN CSS  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

*:not(
    b,
    .container,
    h3,
    .btn,
    .mssg,
    .final-email,
    .final-password,
    .signin-button,
    .signin-btn,
    .signin-btn2,
    .signin-link,
    .signin-link2,
    .error-message2,
    .start-btn,
    .start-link,
    .acc1,
    .acc1-data,
    .acc1-icon,
    .acc1-item,
    .acc2,
    .acc2-data,
    .acc2-icon,
    .acc2-item,
    .acc3,
    .signin-submit,
    .acc3-data,
    .acc3-icon,
    .acc3-item,
    .right-arrow,
    .Netflix-logo3,
    .center-content,
    .signin-txt,
    .signin-link3,
    .bg-image,
    .middle-content,
    .middle-content2,
    .content-innerData,
    .content-innerData2,
    .navbar-3,
    .mid-head,
    .mid-head2,
    .mid-desc,
    .mid-desc2,
    .next,
    .next-btn,
    .next2,
    .next-btn2,
    .logo3,
    .steps,
    .steps2,
    .break,
    .bg-back2
  ) {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0, 0.5) url("../img/BG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.container,
h3,
.btn {
  background-color: white;
}

h3 {
  margin: 0px;
}

.error-message {
  color: #b15010;
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  margin-left: 72px;
  margin-top: 8px;
  max-width: 65%;
}

.error-message2 {
  color: #b15010;
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  margin-top: 8px;
  max-width: 65%;
}

.navbar {
  display: flex;
  justify-content: left;
}

.Netflix-logo,
.Netflix-logo2 {
  width: 168px;
  margin-top: 23px;
  margin-left: 58px;
  cursor: pointer;
}
.Netflix-logo3 {
  width: 168px;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 58px;
}

.main-page {
  display: flex;
  justify-content: center;
}

.container1 {
  display: flex;
  width: 450px;
  height: 630px;
  color: white;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 7px;
  justify-content: center;
  align-content: center;
}

.signin-page:not(.signin-button, .signin-btn, .signin-btn2) {
  background-color: rgba(0, 0, 0, 0.82);
}

.signin-head {
  background-color: rgba(0, 0, 0, 0.82);
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  width: 290px;
}

.email,
.password,
.remember,
.need-help,
.help-section,
.error-message,
.new-to-netflix,
.new-to-netflix > a,
.new-to-netflix > p,
.signup-now {
  background-color: rgba(0, 0, 0, 0.82);
}

.email-inp,
.password-inp {
  height: 38px;
  border: none;
  font-size: 16px;
  color: white;
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  background: #333 !important;
  margin-top: 30px;
}

input[type="text"] {
  border: none;
  outline: none;
}

input[type="email"] {
  border: none;
  outline: none;
}

input[type="password"] {
  border: none;
  outline: none;
}

.signin-button {
  cursor: pointer;
  width: 310px;
  border: none;
  padding: 16px;
  margin-top: 30px;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 3px;
  color: white;
  background-color: #e50914 !important;
  transition: all 0.3s;
}

.signin-button:hover {
  background-color: #a60911 !important;
}

.help-section {
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 13px;
  color: #b3b3b3;
  display: flex;
  justify-content: space-around;
}

.remember {
  display: flex;
  align-items: center;
}

input.check {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.new-to-netflix {
  display: flex;
  font-family: sans-serif;
  justify-content: left;
  margin-left: 69px;
  margin-top: 68px;
  font-size: 18px;
}

.new-to-netflix > p {
  color: #737373;
}

.signin-submit {
  color: white !important;
  text-decoration: none !important;
}

.signup-now {
  color: white !important;
  margin-left: 6px;
}

.mssg {
  color: #b70000;
  position: relative;
  background-color: white;
  top: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

/* Media Queries */

@media (max-width: 740px) {
  *:not(
      .navbar2,
      .mssg,
      .Netflix-logo2,
      .Netflix-logo3,
      .final-email,
      .signin-submit,
      .final-password,
      .logo2,
      .logo3,
      .bg-data,
      .signin2,
      .signin-btn2,
      .signin-link2,
      .mid-content,
      .bg-back2,
      .signin-link3,
      .content-title,
      .middle-content,
      .middle-content2,
      .content-innerData,
      .content-innerData2,
      .steps,
      .steps2,
      b,
      .content-center,
      .navbar-3,
      .mid-head,
      .mid-head2,
      .mid-desc,
      .mid-desc2,
      .signin-txt,
      .next,
      .next2,
      .next-btn,
      .next-btn2,
      .membership,
      .center-content,
      .get-started,
      .acc1-data,
      .acc2-data,
      .acc3-data,
      .email-valid,
      .break
    ) {
    background: black !important;
  }

  .navbar-2 {
    background-color: #ffffff00 !important;
  }

  .email-inp,
  .password-inp {
    width: 90vw;
    background: #333 !important;
  }
  .container1 {
    width: auto;
    height: 540px;
  }
  .Netflix-logo {
    margin-left: 23px;
    width: 140px;
  }
  .signin-head {
    text-align: left;
  }
  .help-section {
    padding: 10px;
    justify-content: space-between;
  }
  .new-to-netflix {
    padding: 10px;
    margin-left: 0px;
  }
  .signin-button {
    width: 92vw;
    background-color: #e50914 !important;
  }
  .error-message {
    margin-left: 10px;
  }
}

/* SIGNUP CSS */

.navbar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-link,
.signin-link2 {
  color: white;
  text-decoration: none;
}

.signin-btn,
.signin-btn2 {
  cursor: pointer;
  width: 95px;
  border: none;
  padding: 8px;
  margin-top: 30px;
  margin-right: 55px;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 2px;
  color: white;
  box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
  background-color: #e50914 !important;
  transition: all 0.3s;
}

.signin-btn2:hover {
  background-color: #b3040d !important;
}

.mid-content {
  color: white;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-title {
  max-width: 64%;
  font-size: 59px;
  font-family: sans-serif;
  font-weight: bolder;
}

.content-center {
  font-size: 26px;
  margin-top: 12px;
  font-weight: 500;
  font-family: sans-serif;
}

.membership {
  font-size: 20px;
  margin-top: 34px;
  font-weight: 500;
  font-family: sans-serif;
}

.enter-details {
  height: 45px;
  border: none;
  font-size: 16px;
  color: black;
  width: 500px;
  padding: 8px;
  background: #ffffff !important;
  margin-top: 30px;
}

.get-started {
  display: flex;
  align-items: center;
}

.start-btn {
  cursor: pointer;
  height: 61px;
  width: 215px;
  border: none;
  padding: 8px;
  margin-top: 31px;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
  background-color: #e50914 !important;
  transition: all 0.3s;
}

.start-link {
  background-color: #e5091400 !important;
  color: white;
  text-decoration: none;
}

.start-btn:hover {
  background-color: #b3040d !important;
}

.section-data1,
.section-title,
.section-desc,
.inside1 {
  background-color: black !important;
}

.section-data2,
.section-title2,
.section-desc2,
.inside2 {
  background-color: black !important;
}

.section-data3,
.section-title3,
.section-desc3,
.inside3 {
  background-color: black !important;
}

.section-data4,
.section-title4,
.section-desc4,
.inside4 {
  background-color: black !important;
}

.below-section1 {
  color: white;
  margin-top: 150px;
  height: 500px;
  background-color: black !important;
  border-top: 8px solid rgb(48, 48, 48);
}

.below-section2,
.below-section3,
.below-section4 {
  color: white;
  height: 500px;
  background-color: black !important;
  border-top: 8px solid rgb(48, 48, 48);
}

.below-section4 {
  height: 580px !important;
}

.below-section5 {
  color: white;
  height: 650px;
  background-color: black !important;
  border-top: 8px solid rgb(48, 48, 48);
}

.section-data1,
.section-data2,
.section-data3,
.section-data4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside1,
.inside2,
.inside3,
.inside4 {
  max-width: 30%;
}

.section-data4 {
  margin-top: 70px;
}

.inside4 {
  margin-left: 50px;
}

.section-title,
.section-title2,
.section-title3,
.section-title4 {
  font-size: 50px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
}

.section-desc,
.section-desc2,
.section-desc3,
.section-desc4 {
  font-family: sans-serif;
  margin-top: 25px;
  font-size: 28px;
  text-align: left;
}

.tv {
  margin-left: 25px;
}

.children {
  width: 480px;
}

.FAQ,
.accordions {
  background-color: black !important;
  margin-top: 50px;
}
.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQ {
  font-size: 45px;
  font-family: sans-serif;
  font-weight: bold;
}

.FAQ-section {
  margin-top: 70px;
  background-color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  background-color: #303030 !important;
}

.acc1,
.acc2,
.acc3 {
  cursor: pointer;
  font-size: 26px;
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  font-family: sans-serif;
  width: 740px;
  border-radius: 5px;
  background-color: #303030 !important;
}

.acc1-icon,
.acc2-icon,
.acc3-icon {
  background-color: #303030 !important;
  font-size: 40px;
}

.break {
  margin-top: 30px;
  font-size: 22px;
}

.second {
  margin-top: 12px;
}

.acc1-item,
.acc2-item,
.acc3-item {
  width: 728px;
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 5px;
  padding: 30px;
  background-color: #303030 !important;
}

.new,
.bottom-data {
  background-color: black;
}

.bottom-data {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acc1-item,
.acc2-item,
.acc3-item {
  position: relative;
  animation: fadein 0.35s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 940px) {
  .below-section1,
  .below-section2,
  .below-section3,
  .below-section4,
  .below-section5 {
    height: 615px;
  }
  .section-data1,
  .section-data2,
  .section-data3,
  .section-data4,
  .section-data5 {
    flex-direction: column;
  }

  .device {
    position: relative;
    top: 60px;
    width: 440px;
  }

  .children {
    position: relative;
    top: 15px;
  }
  .tv {
    margin-left: 0px;
  }

  .section-desc4,
  .section-desc,
  .section-desc2,
  .section-desc3 {
    max-width: 88%;
  }

  .section-data2,
  .section-data4 {
    flex-direction: column-reverse;
  }

  .inside4 {
    margin-left: 0px;
    position: relative;
    top: 0px !important;
  }

  .inside1,
  .inside2,
  .inside3,
  .inside4 {
    position: relative;
    top: 80px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-desc,
  .section-desc2,
  .section-desc3,
  .section-desc4 {
    text-align: center;
    z-index: 1;
    font-size: 18px;
  }

  .section-title,
  .section-title2,
  .section-title3,
  .section-title4 {
    font-size: 36px;
    z-index: 1;
  }
}

@media (max-width: 825px) {
  .acc1,
  .acc2,
  .acc3 {
    width: 600px;
  }
  .acc1-item,
  .acc2-item,
  .acc3-item {
    width: 588px;
  }
  .enter-details {
    width: 380px;
  }
  .start-btn {
    font-size: 22px;
    width: 155px;
  }
}

@media (max-width: 670px) {
  .mobile {
    width: 400px;
    position: relative;
    top: 22px;
  }
  .section-title2 {
    max-width: 85%;
    text-align: center;
  }
  .acc1,
  .acc2,
  .acc3 {
    width: 450px;
  }
  .acc1-item,
  .acc2-item,
  .acc3-item {
    width: 436px;
  }

  .new-mem {
    max-width: 80%;
  }

  .content-title {
    font-size: 50px;
  }

  .content-center {
    font-size: 22px;
  }

  .membership {
    max-width: 80%;
  }
}

@media (max-width: 555px) {
  .start-btn {
    font-size: 17px;
    width: 111px;
  }
  .enter-details {
    width: 280px;
  }

  .Netflix-logo2 {
    width: 115px;
    margin-left: 28px;
  }

  .signin-btn2 {
    width: 75px;
    padding: 7px;
    margin-right: 29px;
    font-size: 16px;
  }
  .content-title {
    font-size: 40px;
  }
  .content-center {
    font-size: 18px;
  }
  .membership {
    font-size: 18px;
  }
  .tv {
    width: 380px;
    position: relative;
    top: 50px;
  }
}

@media (max-width: 512px) {
  .acc1,
  .acc2,
  .acc3 {
    font-size: 19px;
    width: 350px;
  }
  .acc1-item,
  .acc2-item,
  .acc3-item {
    width: 336px;
    font-size: 18px;
  }
  .break {
    font-size: 18px;
  }
}

@media (max-width: 485px) {
  .children {
    position: relative;
    top: 34px;
    width: 380px;
  }
  .section-title,
  .section-title2,
  .section-title3,
  .section-title4 {
    font-size: 30px;
    max-width: 92%;
  }
  .section-desc,
  .section-desc2,
  .section-desc3,
  .section-desc4 {
    font-size: 15px;
  }
  .device {
    top: 75px;
    width: 410px;
  }
}

@media (max-width: 415px) {
  .acc1-item,
  .acc2-item,
  .acc3-item {
    width: 263px;
  }
  .acc1,
  .acc2,
  .acc3 {
    width: 276px;
  }
  .acc1-data,
  .acc2-data,
  .acc3-data {
    text-align: left;
  }
  .start-btn {
    width: 78px;
  }
  .enter-details {
    width: 180px;
  }
  .FAQ {
    font-size: 32px;
    margin-top: 22px;
  }
  .below-section1,
  .below-section2,
  .below-section3,
  .below-section4,
  .below-section5 {
    height: 525px;
  }
  .tv,
  .mobile,
  .device,
  .children {
    width: 290px;
  }
  .inside1,
  .inside2,
  .inside3,
  .inside4 {
    top: 60px;
  }
  .section-title,
  .section-title2,
  .section-title3,
  .section-title4 {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .acc1,
  .acc2,
  .acc3 {
    width: 228px;
  }
  .acc1-item,
  .acc2-item,
  .acc3-item {
    width: 214px;
  }
}

/* Account Creation Page  */

.bg-back2 {
  height: 100vh;
  background-color: white;
}

.navbar-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  height: 106px;
}
.signin-txt {
  color: #333;
  font-size: 19px;
  font-weight: bold;
  margin-right: 50px;
  font-family: sans-serif;
}

.bg-image {
  width: 260px;
}

.steps,
.steps2 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 500;
}

.middle-content,
.middle-content2 {
  margin-top: 110px;
}

.mid-head,
.mid-head2 {
  margin: 0;
  font-size: 32px;
  max-width: 380px;
  font-family: sans-serif;
  font-weight: bold;
  color: #333;
}

.mid-desc {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  max-width: 290px;
  color: #333;
}

.content-innerData,
.content-innerData2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next,
.next2 {
  cursor: pointer;
  background-color: #e50914;
  border: none;
  padding: 18px;
  margin-top: 8px;
  font-size: 28px;
  border-radius: 4px;
  width: 340px;
  transition: all 0.35s;
}

.next:hover,
.next2:hover {
  background-color: #ac0e16;
}

.next2 {
  width: 412px;
  margin-top: 25px;
}

.next-btn,
.next-btn2 {
  color: white;
  text-decoration: none;
}

.signin-link3 {
  color: #333;
  text-decoration: none;
}

.middle-content,
.middle-content2 {
  animation: fadeein 0.4s linear;
}

@keyframes fadeein {
  0% {
    margin-left: 100px;
    opacity: 0;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

/* PASSWORD PAGE2  */

.middle-content2 {
  margin-top: 15px;
  max-width: 50%;
  text-align: left;
}

.content-innerData2 {
  align-items: initial;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid-desc2 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: sans-serif;
  width: 325px;
  line-height: 1.8;
}

.mid-head2 {
  width: 420px;
}

.final-email,
.final-password {
  padding: 8px;
  width: 393px;
  height: 48px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #8c8c8c !important;
}

@media (max-width: 500px) {
  .Netflix-logo3 {
    width: 120px;
    margin-top: 4px;
    margin-left: 29px;
  }
}

@media (max-width: 370px) {
  .bg-image {
    width: 215px;
  }
  .steps {
    font-size: 12px;
  }
  .mid-head {
    font-size: 25px;
    max-width: 90%;
  }
  .mid-desc {
    font-size: 16px;
  }
  .next {
    padding: 16px;
    font-size: 23px;
    width: 284px;
  }
}

@media (max-width: 600px) {
  .center-content {
    max-width: 60%;
  }
  .steps2 {
    width: 150px !important;
  }
}

@media (max-width: 600px) {
  .center-content {
    max-width: 35%;
  }
}

@media (max-width: 460px) {
  .center-content {
    max-width: 45%;
  }

  .steps2 {
    font-size: 12px;
  }

  .mid-head2 {
    font-size: 27px;
  }

  .mid-desc2 {
    font-size: 14px;
  }

  .final-email,
  .final-password {
    width: 326px;
  }
  .next2 {
    width: 344px;
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .mid-head2 {
    width: 290px;
  }

  .mid-desc2 {
    width: 290px;
  }

  .final-email,
  .final-password {
    width: 258px;
  }
  .next2 {
    width: 278px;
  }
}

@media (max-width: 330px) {
  .mid-head2 {
    width: 240px;
    font-size: 24px;
  }
  .mid-desc2 {
    width: 235px;
  }
  .final-email,
  .final-password {
    width: 200px;
  }
  .next2 {
    width: 218px;
  }
}
